.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
body{
    font-family: sans-serif;
    font-size: 17px;
    color: #666;
    background-color: white;
    text-align:center;
    line-height: 2;
}
.title{
    font-size: 30px;
}
br{
    font-size: 17px;
    color:black;
    background-color: white;
}
img{
    text-align: center;
    border-radius: 20%;
}
